:root {
  --color-orange: #D2872C;
  --color-gray: #766F68
}

body {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 2em;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-orange);
}

nav {
  width: 40%;
  max-width: 300px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
}

.menu li {
  font-weight: 600;
  color: var(--color-gray);
}

.menu-mobile {
  width: 30px;
  display: none;
  align-items: center;
  color: var(--color-gray);
  font-size: 2em;
}

main {
  display: flex;
  margin-top: 50px;
  padding: 0 5em;
}

.banner-text {
  z-index: 2;
}

.banner-title {
  color: var(--color-gray);
  font-size: 3.5em;
}

.banner-paragraph {
  color: var(--color-gray);
  font-size: 1.5em;
  margin-bottom: 50px;
}

.banner-img img {
  max-width: 50vw;
}

.banner-button {
  width: 70%;
  height: 50px;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  background-color: var(--color-orange);
  border: none;
  border-radius: 10px;
  margin-bottom:100px;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu-mobile {
    display: flex;
  }

  main {
    flex-direction: column-reverse;
    padding: 0 2em;
  }

  .banner-title {
    font-size: 2.3em;
    text-align: center;
  }

  .banner-paragraph {
    font-size: 1.1em;
    text-align: center;
  }

  .banner-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 5em;
  }

  .banner-img img {
    min-width: 100%;
  }
}

